.about-card {
  width: 90%;
  padding: 2rem;
  margin-top: 0.5em;
  border-radius: 0.5rem;
}
.about-card .heading {
  margin-bottom: 0.6rem;
}
.about-card h3 {
  font-weight: 600;
}
.about-card svg {
  font-size: 2rem;
}
.about-card p {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about-card span {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}
.about-text h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.about-text h3 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-style: italic;
  text-align: justify;
}
.about-text p {
  font-weight: 500;
  font-size: 1rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .about-card {
    width: 100%;
  }
  .about-card div {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
}
