a,
.link-blue {
  color: $color-blue;

  &:hover {
    color: $color-blue-dark;
  }
}

.link-white {
  color: $color-white;

  &:hover {
    color: $color-blue;
  }
}

.link-active {
  color: $color-blue;
  pointer-events: none;
}
