a,
.link-blue {
  display: inline-block;
  color: $color-blue;

  &:hover {
    color: $color-blue-dark;
  }
}

.link-white {
  color: $color-white;

  &:hover {
    color: $color-blue;
  }
}

.link-with-icon {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
}

.link-animation {
  transition: all 300ms ease-in-out;

  &:hover {
    transform: translate3d(5px, 0, 0);
  }
}

//Navbar
.navlink-animation {
  position: relative;
  padding-bottom: 10px;

  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $color-blue;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.navlink-active {
  color: $color-blue;
  pointer-events: none;
  margin-bottom: 10px;
}
