.switch {
  position: relative;
  color: $color-blue;
}

.switch .select {
  cursor: pointer;
  outline: none;
  border: none;
  appearance: none;
  background-color: $color-grey-darker;
  padding: 10px 30px 10px 10px;
  font-weight: 600;
  color: $color-blue;
}

.switch svg {
  position: absolute;
  top: 5px;
  right: 2px;
  pointer-events: none;
}
